<div class="container">
    <h1 class="text-center mt-3">You confirm your email and can use all functional of our cite.</h1>
    <h2 class="text-center">Thank you for registration</h2>

    <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-square form-control btn-lg mx-3 mt-3" style="height:50px;">Go to main menu</a>
</div>