<body style="background-color: rgba(0, 0, 0, .03); font-family: Arial, sans-serif; text-align: center;">
    <div class="mainBlock" style="width: 50%; background-color: white; box-shadow: 1px 1px 5px gray; margin: auto; border-radius: 3px;">
        <h1 style="text-align: center">Ardilla Shop</h1>
        <!--<img src="https://media.discordapp.net/attachments/735092415354110075/865651036311781436/ready_logo_black.png" alt="Ardilla Shop" width="40%" />-->
        <h2>{0}, thank you for your buy on our cite</h2>
        <p id="description" style="text-align: left; margin-left: 8%; margin-right: 8%; font-weight: 600; ">Your application has been accepted. <span id="strongText">We will contact you shortly to confirm the order</span> or send an information message in Viber or SMS.</p>
        <table style="width: 85%; margin: auto; border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse; ">
            <tr>
                <th style="border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse;">Id</th>
                <th style="border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse;"></th>
                <th style="border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse;">Name</th>
                <th style="border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse;">Category</th>
                <th style="border: 1px solid rgba(195, 195, 195, .7); border-collapse: collapse;">Price</th>
            </tr>
        </table>

        <p id="total" style="font-weight: 500; font-size: 22pt; text-align: right; margin-right: 8%;">Total: <span style="font-weight: bold;"> {2}$ </span></p>

        <hr />
        <footer>
            <strong>Contact Info: </strong>
            <p>Phone: +380960027509</p>
            <p>Instagram: @k0lya_koval</p>
        </footer>
    </div>
</body>