@model ArdillaShop.Models.ViewModels.ProductUserVM
<div class="p-2 rounded container shadow">
    <h2>@Model.AppUser.FirstName @Model.AppUser.LastName, thank you for your buy on our cite</h2>
    <p>Your application has been accepted. <span id="strongText">Check your mail.</span></p>
    <h3 class="fa-bold text-right">Total: @Model.ProductList.Select(x => x.Price).Sum()</h3>
    <a asp-controller="Home" asp-action="Index" class="btn btn-success btn-square form-control btn-lg mx-3" style="height:50px;">Go Back</a>

</div>